<div class="createSaleContainer">
  <div class="creator-input">
    Give your sale a title:
    <input type="text" id="sale-title-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter your first and last name with a space in the center:
    <input type="text" id="seller-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter the average value per item in your sale:
    <input type="number" id="avg-item-val-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    What hours will your sale operate? Please use a format like this example: 8AM-5PM
    <input type="text" id="hours-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    How many items do you estimate are present at your sale?
    <input type="number" id="item-count-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter a description of your sale and some of the items:
    <input type="text" id="description-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter a secret code to delete your posting:
    <input type="text" id="delete-code-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please give a url linking to an image of your sale:
    <input type="text" id="thumbnail-url-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter a title for the image of your sale:
    <input type="text" id="thumbnail-title-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter the latitude of your sale(7 digits of specificity):
    <input type="text" id="latitude-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter the longitude of your sale(7 digits of specificity):
    <input type="text" id="longitude-input-field" value="" class="creator-input-fields">

  </div>
  <div class="creator-input">
    Please enter a unique ID so we can easily find your post:
    <input type="text" id="unique-id-input-field" value="" class="creator-input-fields">

  </div>

  <div class="submission-button-holder">
    <button type="button" id="sale-create-button" >Create Sale</button>

  </div>

</div>
