<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <span class="title-span"> YardS4le Centrum </span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/viewsales">View sales</a></li>
        <li><a href="/createsale">Create a sale</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
