<div class="map-title-container">
  Check out the yardsales closest to you below!
  <div class="map-container">
    <div id="map">
    </div>
  </div>
</div>

<div class="left-featured-sale">
  <div class="sale" data-coords="lat: 44.5672487,lng: -123.2894265">
    <div class="sale-contents">
      <div class="sale-title">
        Bob Jensens' sale (featured)
      </div>
      <div id="map">
      </div>
      <div class="sale-info-container">
        <a href="/viewsales" class="seller">Seller : Bob Jensen</a>
        <div class="average-item-value">Average value per item : $100</div>
        <div class="hours">Hours of operation : 8AM-4PM</div>
        <div class="estimated-items">Number of items : 100</div>
      </div>
    </div>
  </div>

</div>

<div class="right-featured-sale">
  <div class="sale" data-coords="lat: 44.5672487,lng: -123.2894265">
    <div class="sale-contents">
      <div class="sale-title">
        Dorothy Barnes' sale (featured)
      </div>
      <div id="map">
      </div>
      <div class="sale-info-container">
        <a href="/viewsales" class="seller">Seller : Dorothy Barnes</a>
        <div class="average-item-value">Average value per item : $20</div>
        <div class="hours">Hours of operation : 7AM-4PM</div>
        <div class="estimated-items">Number of items : 45</div>
      </div>
    </div>
  </div>

</div>

<div class="table-title-container">
  <div class="table-container">
    <table class="post-list-table">
      <tr>
        <th>Sale Title</th>
        <th>Featured</th>
        <th>Seller</th>
        <th>Open Hours</th>
      </tr>
      <tr>
        <td>Antiques</td>
        <td>Yes</td>
        <td>Hanna Nil</td>
        <td>8AM-8PM</td>
      </tr>
      <tr>
        <td>Electronics</td>
        <td>No</td>
        <td>John Smith</td>
        <td>9AM-2PM</td>
      </tr>
      <tr>
        <td>Silverware</td>
        <td>Yes</td>
        <td>Mary Lenu</td>
        <td>3PM-6PM</td>
      </tr>
    </table>

  </div>

</div>
