<div class="sale" data-coords = "lat: 44.5672487,lng: -123.2894265">
  <div class="sale-contents">
    <div class="sale-title">
this is bob jensons sale
    </div>
    <div id="map">
    </div>
    <div class="sale-info-container">
      <a href="#" class="seller">Seller : Bob Jensen</a>
       <div class="average-item-value">Average value per item : $100</div>
       <div class="hours">Hours of operation : 8AM-4PM</div>
        <div class = "estimated-items">Number of items : 100</div>
    </div>
  </div>
</div>
